# For Configuring Kibana

# Define the port for the Kibana server
server.port: 5601

# Set the IP address the Kibana server will connect to
server.host: "192.168.56.111"

# Specify the external URL for accessing Kibana
server.publicBaseUrl: "http://192.168.56.111:5601"

# URL of the Elasticsearch server
elasticsearch.hosts: ["http://192.168.56.116:9200"]
